.faceMilling  {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    background-image: url(..//../img/faceMIlling.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    text-decoration: none;
}

    p {
    width: 300px;
    height: 35px;
    margin: auto;
    text-align: center;
    background-color: #589354;
    color: #ffffff;
    font-size: 20px;
}