* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p,h1,h2,h3,ul,li {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.navBar__menu {
    width: 300px;
    height: 100vh;
    background-color: #dddddd;
}

.inform {
    width: 80%;
    height: 100vh;
    background-color: #f1f1f1;
}

@media (max-width: 1060px){
    .navBar__menu {
        height: 755px;
        background-color: #dddddd;
    }

    .inform {
        background-color: #f1f1f1;
        height: 100%;
    }
}

@media (max-width: 816px){
    .navBar__menu {
        height: 1235px;
        background-color: #dddddd;
    }
}